<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts :: head"></head>

<body>

<nav th:replace="layouts :: navbar"></nav>


<div class="container">
    <h3 class="py-2">
        Dashboard
    </h3>
    <a th:text="${applicationVersion}"></a>
    <hr>
    <h4>
        Current Projects
    </h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Stage</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project: ${projects}">
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.stage}"></td>
                    <td th:text="${project.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="col-md-4">
            <canvas id="myChart" height="50" width="50"></canvas>
            <script>
                const chartData = "[[${projectStatusCount}]]"
            </script>
        </div>
    </div>
</div>

<div>
    <span>
        <br>
    </span>
</div>
<div class="container">
    <h4>
        Current Employees
    </h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Project Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeProject: ${employeesProjectCount}">
                    <td th:text="${employeeProject.firstName}"></td>
                    <td th:text="${employeeProject.lastName}"></td>
                    <td th:text="${employeeProject.totalProjects}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layouts :: footer"></footer>
<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>
